[Unit]
Description=Docker secrets plugin
Documentation=https://github.com/rahoogan/docker-secrets-volume

After=network.target docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/quobyte/docker-quobyte.env
ExecStart=/usr/local/bin/docker-quobyte-plugin
LimitNOFILE=16384
Restart=on-failure

[Install]
WantedBy=multi-user.target